data/bookstore.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:element name="bookstore">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="book" type="bookType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="bookType">
    <xs:sequence>
      <xs:element name="isbn"   type="xs:string"/>
      <xs:element name="title"  type="titleType"/>
      <xs:element name="author" type="xs:string" maxOccurs="unbounded"/>
      <xs:element name="year"   type="xs:string"/>
      <xs:element name="price"  type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="category" type="xs:string" use="required"/>
    <xs:attribute name="cover"    type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="titleType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="lang" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>
